* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main: #00aaaa;
    --color-main-alt: #0070a8;
    --color-bg: #202121;
    --color-bg-sec: #2a2a2a;
    --color-bg-tri: #444444;
    --color-fg: #eeeeee;
    --color-fg-sec: #cfcfcf;
    --color-fg-tri: #aaaaaa;
    --color-link: var(--color-main);
    --color-link-hover: #dddd55;
    --color-sec: #00aaaa;
    --color-code-bg: #001111;
    --color-code-fg: #ffdddd;
    --color-link-selection: #aaffaa;
    --color-table: #dddddd;
}

[data-theme="light"] {
    --color-main: #00cccc;
    --color-main-alt: #00a0f8;
    --color-bg: #eeeeee;
    --color-bg-sec: #dddddd;
    --color-bg-tri: #aaaaaa;
    --color-fg: #222222;
    --color-fg-sec: #cfcfcf;
    --color-fg-tri: #aaaaaa;
    --color-link: #005555;
    --color-link-hover: #000000;
    --color-sec: #00aaaa;
    --color-code-bg: #333333;
    --color-code-fg: #ffdddd;
    --color-link-selection: #aaffaa;
    --color-table: #333333;
}

/* HTML */
html {
    scroll-behavior: smooth;
    max-height: fit-content;
}

body {
    padding-top: 4rem;
    background: var(--color-bg);
    color: var(--color-fg);
    font: inherit "Poppins", serif;
    transition: background .3s;
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid var(--color-table);
    padding: .5rem;
}

tr:nth-child(even) {
    background-color: var(--color-bg-tri);
}

tr:hover {
    background-color: var(--color-main);
}

th {
    padding: .75rem .5rem;
    text-align: left;
    background-color: var(--color-main-alt);
}

/* video */
iframe,
video {
    width: 100%;
    height: max-content
}

/* Code section */
pre {
    border: 1px solid var(--color-main-alt);
    background-color: var(--color-code-bg) !important;
    padding: .75rem;
    overflow: scroll;
    max-height: 30rem;
}

code {
    white-space: pre-wrap !important;
    font-size: 1rem;
    color: var(--color-code-fg);
}

code span {
    line-height: 1.2rem;
}

li {
    margin-left: 2em;
}

/* Elements */
hr {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2px;
    background: var(--color-main);
    color: var(--color-main);
    border: none;
}

h1 {
    font: normal 800 2.4rem "Libre Baskerville", serif;
    text-align: center;
    margin-bottom: .5rem;
}

h2 {
    font: normal 800 1.8rem/2.4rem "Libre Baskerville", serif;
    border-bottom: 2px solid var(--color-main);
    margin-top: 1rem;
    margin-bottom: .75rem;
}

h2::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f12e';
    font-weight: 900;
    margin-right: .25em;
}

h3 {
    font: normal 600 1.4rem/3rem "Libre Baskerville", serif;
}

h4 {
    font: normal 600 1.2rem/3rem "Libre Baskerville", serif;
}

h5 {
    font: italic 600 1rem/3rem "Libre Baskerville", serif;
}

blockquote {
    background: var(--color-bg-tri);
    padding: .25rem;
    margin: .75rem;
    margin-left: 2em;
}

blockquote p {
    display: block;
    margin: 0;
}

p,
span,
li,
div {
    line-height: 1.6rem;
    /* transition: color .2s; */
}

del {
    color: var(--color-fg-tri);
}

p {
    margin-bottom: .5rem;
}

a {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    color: var(--color-link);
    transition: all .2s;
    text-align: center;
}

a:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
    text-decoration-style: solid;
}

/* Header */
header {
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--color-main);
    z-index: 10000;
    padding: .5rem;
}

header p,
header span {
    color: #ffffff;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all .1s;
    display: block;
    align-self: center;
}

header .trademark {
    display: flex;
}

header a:hover .trademark span {
    text-decoration: none;
}

header .trademark * {
    align-self: center;
}

header .trademark svg {
    height: 2rem;
    width: 2rem;
    border-radius: .5rem;
}

header .trademark span {
    font: normal 400 1.8rem "Fontdiner Swanky", serif;
    margin-left: .5rem;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    max-width: 56rem;
    margin: auto;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
    list-style-type: none;
    height: 100%;
}

header nav ul li {
    margin-left: .25rem;
    border-radius: .5rem;
    padding: .5rem .5rem;
    cursor: pointer;
    align-self: center;
}

#theme-switcher,
#dropdown-toggle {
    width: 2.2rem;
    height: 2.2rem;
    align-self: center;
    border: none;
    font-size: 1.2rem;
    background: transparent;
    color: white;
    transition: all .3s;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    text-align: center;
}

#theme-switcher i {
    display: block;
}

#dropdown-toggle {
    display: none;
}

#dropdown-toggle:hover,
#theme-switcher:hover {
    background: #222222;
}

/* Main */
main {
    padding: .5rem;
    max-width: 56rem;
    margin: auto;
    margin-bottom: 4rem;
    min-height: calc(100vh - 24rem);
}

main img {
    max-height: 12rem;
    user-select: none;
}

.section-content#home-intro {
    display: flex;
    gap: 1rem;
}

.intro h2::before {
    content: '';
    margin-right: 0;
}

.flex-space {
    display: flex;
    margin: 1rem;
}

.flex-space h1 {
    width: 100%;
}

.flex-space * {
    align-self: center;
}

.author_tags {
    margin-bottom: .25rem;
    display: flex;
    justify-content: space-between;
}

/* Footer */
footer {
    width: 100%;
    padding: 1rem;
    text-align: center;
    background: var(--color-bg-sec);
    position: relative;
}

footer .links {
    padding: 1rem;
}

footer .links a {
    padding: 0 .25rem;
}

footer p {
    padding: 1rem;
}

.prev_next {
    background: var(--color-bg-tri);
    border-radius: 1rem;
    padding: .25rem 1rem;
}

.prev_next,
#back-to-top
{
    text-decoration: none !important;
}

#back-to-top:hover,
.prev_next:hover {
    text-decoration: none !important;
}

#back-to-top {
    border-radius: .5rem;
    background: var(--color-bg);
    padding: .75rem 1rem;
    position: absolute;
    bottom: 2rem;
    line-height: 1rem;
    right: 1rem;
}

/* Selection */
::-moz-selection {
    color: var(--color-fg);
    background: var(--color-main);
}

a::selection {
    color: var(--color-link-selection);
}

::selection {
    color: var(--color-fg);
    background: var(--color-main);
}

/* phones */
@media (max-width: 599px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .intro h2 {
        text-align: center;
    }

    #back-to-top {
        background: inherit;
        position: relative;
        bottom: inherit;
        line-height: 1rem;
    }

    header #dropdown-toggle {
        display: block;
    }

    .author_tags {
        margin-bottom: .25rem;
        display: block;
        justify-content: space-between;
    }

    header nav ul {
        flex-direction: column;
        position: absolute;
        top: 3.8rem;
        right: 0;
        background-color: #277d;
        width: 100%;
        height: max-content;
        display: none;
        /* Initially hidden */
        z-index: 1001;
    }

    header nav ul li a {
        display: block;
        padding: .75rem 1rem;
        width: 100%;
    }

    header nav.open ul {
        display: block;
    }

    footer .links {
        padding: 0;
    }

    footer .links a {
        padding: .25rem .25rem;
        display: block;
    }

    main img {
        display: block;
        max-width: 100%;
        max-height: 25rem;
        height: auto;
        width: 100%;
        /* rotate: 16deg; */
        overflow: hidden;
        padding: 1rem 4rem;
    }

    .section-content#home-intro {
        display: block;
    }
}

/* portrait tablets and large phones */
@media (min-width: 600px) and (max-width: 767px) {
    main img {
        max-height: 14rem;
    }

    #back-to-top {
        position: inherit;
        bottom: inherit;
        line-height: 1rem;
        bottom: .25rem;
    }
}
