<div class="links">
    <a href="/" title="Go to homepage of site"><i class="fa-solid fa-house"></i> Home</a>
    <a href="/about" title="Get more info about me"><i class="fa-solid fa-user"></i> About</a>
    <a href="/licence" title="Get info related to content License"><i class="fa-solid fa-scale-balanced"></i>
        Licence</a>
    <a href="/sitemap.xml" title="SEO sitemap"><i class="fa-solid fa-sitemap"></i> Sitemap</a>
</div>
<p title="Copyright Notice for more details check License page">&copy; 2024 <b>Kouosi Tsuamine</b>.
    <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license noopener noreferrer"
        style="display:inline-block;">CC BY 4.0</a>
</p>

<a href="#" role="button" id="back-to-top" title="Go back to top of the page">🡹 Back to top</a>
