<div class="navbar">
    <a href="/">
    <div class="trademark" title="Logo">
        <img src="https://eli.thegreenplace.net/images/pages/js.svg" alt="Logo">
        <span>Kouosi</span>
    </div></a>
    <nav>
        <ul>
            <li><a href="/about" title="Goto about page">About</a></li>
            <li><a href="/posts" title="Goto all posts">Posts</a></li>
            <li><a href="/projects" title="Goto all my projects">Projects</a></li>
            <!-- <li><a href="/pubs">Publications</a></li> -->
            <li><a href="/contact" title="Get my contact" rel="nofollow">Contact</a></li>
            <button id="theme-switcher" aria-label="Toggle Theme"><i class="fa fa-sun"></i></button>
        </ul>
    </nav>
</div>
